<header class="app-header">
  <div class="container">
    <h1>Company name</h1>
    {{global-search}}
  </div>
</header>

{{outlet}}

<footer class="app-footer">
  <div class="container">
    &copy; 2017 – Company name.
  </div>
</footer>
