<header class="app-header">
  <div class="container">
    <h1>Company name</h1>
    <div class="global-search-control">
      <input type="search" name="" value="" class="input-text" placeholder="Search...">
    </div>
  </div>
</header>

{{outlet}}

<footer class="app-footer">
  <div class="container">
    &copy; 2017 – Company name.
  </div>
</footer>
